@{
    ViewData["Title"] = "Ögrenci Sınıf İşlemleri";
}

<div class="text-center">
    <h2 class="display-4">Ögrenci - SINIF İşlemleri</h2>
    <div class="text-start">
    <p> Ögrenci Tablosu ile Sınıf Tablosu Fluent API kullanarak bire Çok ilişki kuruldu. </p>
    <p>Ögrenci Tablosuna ForingKey olarak Sınıf tablosunun ID degeri eklendi</p>
    <p>Ögrenci Tablosu bilgi girişi ekranında Sınıf Adı Açılır Listeden String türünde seçilerek girilir. 
        <br />Seçilen deger veri tabanında sayısal (integer) olarak saklanır. </p>
    <p>Menu yapısı 2 aşamalıdır. Ekran %50 ve daha küçük oldugunda Menu Açılıp kapanabilir hale dönüşür.(JavaScript)</p>
    </div>
</div>
